{{#if data}}
    {{#each data}}
        <div class="projectback">  
            <h4 class="sidefont">Contest Name : {{this.contest}}</h4> 
            <h4 class="sidefont">Project Name : {{this.project}}</h4> 
            <h4 class="sidefont">Domain : {{this.domain}}</h4> 
            <h4 class="sidefont">Level : {{this.level}}</h4> 
            
            <h4 class="sidefont">students:
            
            {{#each this.student}}
                {{this}},
            {{/each}}
            </h4>

            <h4 class="sidefont">Mentor: {{this.mentor}}</h4> 
            <br>
            {{{this.link}}}
            
            
        </div>
    {{/each}}
{{/if}}