{{#if data}}
    {{#each data}}
        <div class="projectback">  
            <h4 class="sidefont">Project Name : {{this.projectname}}</h4> 
            <h4 class="sidefont">Domain : {{this.area}}</h4> 
            <h4 class="sidefont">students:
            
            {{#each this.students}}
                {{this}},
            {{/each}}
            </h4>

            <h4 class="sidefont">Mentor: {{this.mentor}}</h4> 
            <br>
            {{{this.link}}}
            
            
        </div>
    {{/each}}
{{/if}}