{{#if data}}
    {{#each data}}
        <div class="projectback">  
            <h1 class="projectfont">{{this.workshop}}</h1><br>
            {{this.name}}<br>
            {{this.location}}<br>
            {{this.start}}<br>
            {{this.end}}
            
        </div>
    {{/each}}
{{/if}}