{{#if data}}
    {{#each data}}
        <div class="projectback">  
            <h4 class="sidefont">Workshop Name : {{this.workshop}}</h4> 
            <h4 class="sidefont">Trainer: {{this.name}}</h4> 
            <h4 class="sidefont">Loaction: {{this.location}}</h4> 
            <h4 class="sidefont">Start Date: {{this.start}}</h4> 
            <h4 class="sidefont">End Date : {{this.end}}</h4> 
            
            <br>
            
            
            
        </div>
    {{/each}}
{{/if}}